div.bg-img{
	background-image: url('../img/bg-img/bg-img-2.jpg');
}
.pad-btm > h3{
	margin-top: 0;
}
.height40{
	height: 40px;
}
.optionTable{
	display: flex;
}
.optionTable i {
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}
}#navbar .brand-title {
    padding: 0 1.5em 0 5px;
}