/* Estilos Globales */
body
{
	margin : 0px;
}
#gif_carga
{
	display : none;
}
.form-input-main
{
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border:1px solid #CCC;
	font-size : 12px;
}

.form-input-main-btn
{
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border:1px solid #0080FF;
	background-color: #0080FF;
	color : #FFFFFF;
	font-size : 14px;
}
.form-input-main-btn-dsb
{
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border:1px solid #CCC;
	background-color: #CCC;
	color : #FFFFFF;
	font-size : 14px;
}
.form-error
{
	border:1px solid red;
}

/* Estilos del Formualario del Registro Inicial */
#form-reg-container
{
	margin-left : auto;
	margin-right : auto;
	width : 600px;
	height : 600PX;
}
#form-reg-title
{
	text-align : center;
	width : auto;
	height: 30px;
	padding-top: 10px;
	font-family : Verdana;
	font-size : 14px;
	color: #251B1B;
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
	margin-top: 10px;
}
.form-reg-left
{
	font-family: Verdana;
	font-size : 12px;
	padding-left: 5%;
	padding-top: 8px;
	float: left;
	width: 25%;
	height: 32px;
}
.form-reg-right
{
	float: right;
	width : 65%;	
	height: 40px;
	padding-right: 5%;
	font-size : 12px;

}
#form-reg-alert
{
	text-align : center;
	color: red;
	font-size : 12px;
	font-family: Verdana;
}

